<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.dekanat.servlets.MainListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LogInServlet</servlet-name>
        <servlet-class>com.dekanat.servlets.LogInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>com.dekanat.servlets.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OpenGroupServlet</servlet-name>
        <servlet-class>com.dekanat.servlets.OpenGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchGroupServlet</servlet-name>
        <servlet-class>com.dekanat.servlets.SearchGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelteUserFromGroupServlet</servlet-name>
        <servlet-class>com.dekanat.servlets.DelteUserFromGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGroupServlet</servlet-name>
        <servlet-class>com.dekanat.servlets.DeleteGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserToGroupServlet</servlet-name>
        <servlet-class>com.dekanat.servlets.AddUserToGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddGroupServlet</servlet-name>
        <servlet-class>com.dekanat.servlets.AddGroupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogInServlet</servlet-name>
        <url-pattern>/LogInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OpenGroupServlet</servlet-name>
        <url-pattern>/OpenGroupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchGroupServlet</servlet-name>
        <url-pattern>/SearchGroupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelteUserFromGroupServlet</servlet-name>
        <url-pattern>/DelteUserFromGroupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGroupServlet</servlet-name>
        <url-pattern>/DeleteGroupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserToGroupServlet</servlet-name>
        <url-pattern>/AddUserToGroupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGroupServlet</servlet-name>
        <url-pattern>/AddGroupServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            main.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
